.blur > * {
  --from: calc((var(--layer) - 1) * 100% / 8);
  --to: min(calc((var(--layer) + 1) * 100% / 8), 100%);
  -webkit-backdrop-filter: blur(var(--radius));
  backdrop-filter: blur(var(--radius));
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent var(--from),
    black var(--to)
  );
  mask-image: linear-gradient(
    to bottom,
    transparent var(--from),
    black var(--to)
  );
}

.blur > :nth-child(1) {
  --layer: 1;
  --radius: 0.25px;
}

.blur > :nth-child(2) {
  --layer: 2;
  --radius: 0.5px;
}

.blur > :nth-child(3) {
  --layer: 3;
  --radius: 1px;
}

.blur > :nth-child(4) {
  --layer: 4;
  --radius: 1.5px;
}

.blur > :nth-child(5) {
  --layer: 5;
  --radius: 2.5px;
}

.blur > :nth-child(6) {
  --layer: 6;
  --radius: 4px;
}

.blur > :nth-child(7) {
  --layer: 7;
  --radius: 6px;
}

.blur > :nth-child(8) {
  --layer: 8;
  --radius: 8px;
}
